h1{
    color: black;
}

#container{
    width: 500px;
}

#usernametitle, #usertext, #namebutton {
    display:inline;
}

#namebutton{
    position: relative;
    left:5px;
}

hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

table{
    width: 100%;
    text-align: left;
}

table, td, th{
    border: 1px black;
}

td, th{
    padding: 5px;
}


#money, #dollasign{
    display:inline;
    font-size: 20pt;
}

#dollasign{
}

#cashmoney{
    position:absolute;
    top: 55px;
    right:10px;
}